@charset "UTF-8";
.wrapper{
    /* padding:10px 100px 10px 100px; */
    margin: 15px;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    list-style: none;
}
#top img{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 3px solid rgb(189, 126, 45);
    border-radius: 10px; */
}
#header{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    padding: 10px;
}
#header nav{
    padding: 10px;
}
.link-text{
    display: block;
    text-align: center;
}
.page-title{
    width: 100%;
    margin: 0 100px;
}
.item{
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}
.item-img{
    width: 40%;
}
.item img{
    width: 100%;
    margin: 0 100px;
}
.item-text p{
    width: 62%;
}
@media (max-width: 600px){
.product-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        list-style: none;
}
.product-list p{
    font-size: 0.9%;
}
.site-title img{
        width: 100%;
        max-width: 200px;
}
#top img{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
}
#header{
        display: flex;
        justify-content: space-between;
}
.menu{
        display: flex;
        list-style: none;
}
.menu li{
        padding: 10px;
}
.link-text{
    padding: 15px;
}
.page-title{
    width: 100%;
    margin: 0 80px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.item img{
    align-items: center;
    width: 350px;
    margin: 0 80px;
}
.item-text{
    margin: 0 25vw;
    width: 120%;
}

}