@charset "UTF-8";
.wrapper{
    padding:10px 100px 10px 100px;
    margin: 10px;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    list-style: none;
}
#top img{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 3px solid rgb(189, 126, 45);
    border-radius: 10px; */
}
#header{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    padding: 10px;
}
.link-text{
    display: block;
    text-align: center;
}
@media (max-width: 600px){
.product-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    list-style: none;
}
#top img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
}